<html>
<body style="">   
<div class="main" style="align-self: center; ">

<form id="form_id" method="post" name="loginform" style="display: block; margin: 10px; ">
    <label >username:</label>
    <input type="text" name="username" id="username" style="display: block; margin: 10px;"/>

<label>password:</label>
<input type="text" name="password" id="password" style="display: block; margin: 10px;"/>
<label >institute name:</label>
<input type="text" name="institution" id="institution" style="display: block; margin: 10px;"/>
<label>name :</label>
<input type="text" name="name" id="name" style="display: block; margin: 10px;"/>

<input type="submit" value='Add User' id="submit" onclick='' style="display: block; margin: 10px;"/>
</form>
</div>
</div>
</body>
</html>