<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
	
    <table style="width:100%; max-width: 100%;">
        <tr>
            <th>doi</th>
            <th>Usernames</th>
            
            
           
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item}}</td>
   
            <td>{{data[item]}}</td>
            

        </tr>

        {% endfor %}

    </table>
</body>

</html>