{% extends 'base.html' %}

{% block head %}
<title>DB Manager Home Page</title>
{% endblock %}

{% block body %}
<div>
    <div>
        <a href="/add-new-user">Add new User</a>
    </div>
    <div>
        <a href="/update-affinity-of-drug">Update affinity of a drug</a>
    </div>
    <div>
        <a href="/delete_uniProt">Delete UniProt</a>
    </div>
    <div>
        <a href="/delete-drug">Delete Drug</a>
    </div>
    <div>
        <a href="/show-data-admin/home"> View Data</a>
    </div>
    <div>
        <a href="/update-contributors"> Update Contributors</a>
    </div>

</div>
{% endblock %}
