{% extends 'base.html' %}

{% block head %}
<title>User Home Page</title>
{% endblock %}

{% block body %}
<div>
    <div>
        <a href="/drugs">View Drugs</a>
    </div>
    <div>
        <a href="/view-interactions-of-drug">View Interactions of a Drug</a>
    </div>
    <div>
        <a href="/view-side-effects">View Side Effects of a Drug</a>
    </div>
    <div>
        <a href="/view-interacting-targets">View Interacting Targets of a Drug</a>
    </div>
    <div>
        <a href="/view-interacting-drugs">View Targeting Drugs of a Protein</a>
    </div>
    <div>
        <a href="/view-drugs-affecting-same-protein">View Drugs That Affects the Same Proteins</a>
    </div>
    <div>
        <a href="/view-proteins-bind-same-drug">View Proteins that are Targeted by Same Drugs</a>
    </div>
    <div>
        <a href="/view-drugs-with-specific-side-effect">View Drugs with a Specific Side Effect</a>
    </div>
    <div>
        <a href="/search-keyword-in-drug-descriptions">Seach a Keyword in Drug Descriptions</a>
    </div>
    <div>
        <a href="/view-drugs-with-least-side-effects">View Drugs with Least Side Effects</a>
    </div>
    <div>
        <a href="/dois-and-contributors">View DOIs and Their Contributors</a>
    </div>
    <div>
        <a href="/rank-institutions">Rank Institutions According to Their Points</a>
    </div>
    <div>
        <a href="/affinity-interval">Find Affinity Interval</a>
    </div>


</div>
{% endblock %}
