{% extends 'base.html' %}

{% block head %}
<title>User Home Page</title>
{% endblock %}

{% block body %}
<div>
    <div>
        <a href="/drugs">Add new User</a>
    </div>
    <div>
        <a href="/view-interactions-of-drug">Add new User</a>
    </div>
    <div>
        <a href="/view-side-effects">Add new User</a>
    </div>
    <div>
        <a href="/view-interacting-targets">Add new User</a>
    </div>
    <div>
        <a href="/view-interacting-drugs">Add new User</a>
    </div>
    <div>
        <a href="/view-drugs-affecting-same-protein">Add new User</a>
    </div>
    <div>
        <a href="/view-proteins-bind-same-drug">Add new User</a>
    </div>
    <div>
        <a href="/view-drugs-with-specific-side-effect">Add new User</a>
    </div>
    <div>
        <a href="/search-keyword-in-drug-descriptions">Add new User</a>
    </div>
    <div>
        <a href="/view-drugs-with-least-side-effects">Add new User</a>
    </div>
    <div>
        <a href="/dois-and-contributors">Add new User</a>
    </div>
    <div>
        <a href="/rank-institutions">Add new User</a>
    </div>


</div>
{% endblock %}